/ehentaiManager/.qmake.stash
/ehentaiManager/debug/ehentaiManager.exe
/ehentaiManager/debug/GamieHentaiDownloadInfoItem.o
/ehentaiManager/debug/GamieHentaiFileSystem.o
/ehentaiManager/debug/GamieHentaiGlobalSettings.o
/ehentaiManager/debug/GamieHentaiImageManager.o
/ehentaiManager/debug/GamieHentaiItemDownloadInfo.o
/ehentaiManager/debug/GamieHentaiList.o
/ehentaiManager/debug/GamieHentaiListDownloadInfo.o
/ehentaiManager/debug/GamieHentaiMainIndexListItem.o
/ehentaiManager/debug/GamieHentaiMainWindow.o
/ehentaiManager/debug/GamieHentaiObject.o
/ehentaiManager/debug/GamieHentaiParser.o
/ehentaiManager/debug/main.o
/ehentaiManager/debug/moc_GamieHentaiDownloadInfoItem.cpp
/ehentaiManager/debug/moc_GamieHentaiDownloadInfoItem.o
/ehentaiManager/debug/moc_GamieHentaiImageManager.cpp
/ehentaiManager/debug/moc_GamieHentaiImageManager.o
/ehentaiManager/debug/moc_GamieHentaiItemDownloadInfo.cpp
/ehentaiManager/debug/moc_GamieHentaiItemDownloadInfo.o
/ehentaiManager/debug/moc_GamieHentaiList.cpp
/ehentaiManager/debug/moc_GamieHentaiList.o
/ehentaiManager/debug/moc_GamieHentaiListDownloadInfo.cpp
/ehentaiManager/debug/moc_GamieHentaiListDownloadInfo.o
/ehentaiManager/debug/moc_GamieHentaiMainIndexListItem.cpp
/ehentaiManager/debug/moc_GamieHentaiMainIndexListItem.o
/ehentaiManager/debug/moc_GamieHentaiMainWindow.cpp
/ehentaiManager/debug/moc_GamieHentaiMainWindow.o
/ehentaiManager/debug/moc_GamieHentaiObject.cpp
/ehentaiManager/debug/moc_GamieHentaiObject.o
/ehentaiManager/debug/moc_predefs.h
/ehentaiManager/ehentaiManager.pro.user
/ehentaiManager/Makefile
/ehentaiManager/Makefile.Debug
/ehentaiManager/Makefile.Release
/ehentaiManager/object_script.ehentaiManager.Debug
/ehentaiManager/object_script.ehentaiManager.Release
/ehentaiManager/ui_GamieHentaiDownloadInfoItem.h
/ehentaiManager/ui_GamieHentaiMainIndexListItem.h
/ehentaiManager/ui_GamieHentaiMainWindow.h
/ehentaiManager/ehentaiManager.pro.user
